{% extends 'base.html' %}

{% block title %}{{ product.title|title }}{% endblock %}

{% block content %}
<h2>{{ product.title|title }}</h2>
<ul>
	<li>{{ product.description }}</li>
	<li>{{ product.price }}</li>
	<li>
		<label>Quantity: </label>
		<select id="qty">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
			<option>9</option>
			<option>10</option>
		</select>
	</li>
</ul>
<div>
	<button class="btn btn-secondary" id="add-button" value="{{product.id}}">
		Add to Cart 
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
		<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
	  </svg>
	</button>
</div>

<script>
	$(document).on('click', '#add-button', function(e) {
		e.preventDefault();

		$.ajax({
			type: 'POST',
			url: '{% url 'basket:basket_add' %}',
			data: {
				productid: $('#add-button').val(),
				productqty: $('#qty option:selected').text(),
				csrfmiddlewaretoken: "{{ csrf_token }}",
				action: 'post'
			},
			success: function(json) {
				document.getElementById('cart-qty').innerHTML = json.qty
			},
			error: function (xhr, errmsg, err) {}
		})
	})
</script>
{% endblock %}